DAY-1

BASIC CALCULATOR

In [ ]:
a=int(input("enter a first no"))
b=int(input("enter a second no"))
print("sum:",a+b)
print("sub:",a-b)
print("multiplication:",a*b)
print("division:",a//b)
print("modulo division:",a%b)
print("exponent of a:",a**b)

FIND COMPOUND INTERSET

In [ ]:
p=int(input("enter the principal amount"))
t=int(input("enter the time"))
r=int(input("enter the rate"))
a=p*(1+(r/100))**t
ci=a-p
print(ci)

MENU DIRVEN CALCULATOR

In [ ]:

def add(a, b):
    sum = a + b
    print(a, "+", b, "=", sum)

def subtract(a, b):
    difference = a - b
    print(a, "-", b, "=", difference)

def multiply(a, b):
    product = a * b
    print(a, "x", b, "=", product)


def divide(a, b):
    division = a / b
    print(a, "/", b, "=", division)


while True:
    print("\nMENU")
    print("1. Sum of two Numbers")
    print("2. Difference between two Numbers")
    print("3. Product of two Numbers")
    print("4. Division of two Numbers")
    print("5. Exit")
    choice = int(input("\nEnter the Choice: "))

    if choice == 1:
        print( "\nADDITION\n")
        a = int( input("First Number: "))
        b = int( input("Second Number: "))
        add(a, b)

    elif choice == 2:
        print( "\nSUBTRACTION\n")
        a = int( input("First Number: "))
        b = int( input("Second Number: "))
        subtract(a, b)

    elif choice == 3:
        print( "\nMULTIPLICATION\n")
        a = int( input("First Number: "))
        b = int( input("Second Number: "))
        multiply(a, b)

    elif choice == 4:
        print( "\nDIVISION\n")
        a = int( input("First Number: "))
        b = int( input("Second Number: "))
        divide(a, b)

    elif choice == 5:
        break

    else:
        print( "Please Provide a valid Input!")

prime no 1 to 100

In [ ]:

for i in range(2,101):
   for j in range(2,101):
       if(i%j==0):
           break
   if(i==j):
      print(i)

factorial

In [ ]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
n=int(input("enter the no"))
print(f"{n} factorial is:",fact(n))

[(2, 8), (3, 27), (4, 64)]

In [ ]:
val=(input("enter multiple values"))
num1=[(int(i),int(i)** 3)for i in val.split()]
print(num1)

enter multiple values2 3 4
[(2, 8), (3, 27), (4, 64)]

In [ ]:
keys = ['first_name', 'age', 'job', 'company']
values = ['Jim', 23, 'developer', 'XYZ']

result_dict = dict(zip(keys, values))

print(result_dict)

In [ ]:
n=int(input("enter a no"))
flag=False
if n==1:
  print("number is not prime")
elif(n>1):
    for i in range(2,n):
       if(n%i==0):
        flag=True
        break
if flag:
    print("number is not prime")
else:
    print("prime no")

Assessment - 2

In [ ]:
val= {'khushi':4,'umang':2,'ayush':3,'shivangi':1}
l=list(sorted(val.values()))
print(l)
m=[val for val in dict.items() for val in l]
print(m)

[1, 2, 3, 4]

TypeError: unbound method dict.items() needs an argument

In [ ]:
val={0: 10, 1: 20}
val[2]=30
print(val)

In [ ]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}
result = {}
for i in (dict1, dict2, dict3):
    result.update(i)
print(result)

In [ ]:
val= {'khushi':1,'umang':2,'ayush':3,'shivangi':4}
n=input("enter values")
if n in val.keys():
  print("yes")
else:
  print("not")

enter valuesk
not

5. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
Sample Dictionary ( n = 5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
n=int(input("enter no"))
sqr={i:i*i for i in range(1,n+1)}
print(sqr)

6. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.
Sample Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
sqr={i:i*i for i in range(1,16)}
print(sqr)

In [ ]:
Sample=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
v = set(i for dic in Sample for i in dic.values())
print(v)

{'S007', 'S005', 'S002', 'S009', 'S001'}

In [ ]:
from collection import counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
s= counter(d1) + counter(d2)
print(s)

In [ ]:
a=(10,9,0,8,7)
print(max(a))
print(min(a))

In [ ]:
tu=('k','i','s')
s=" ".join()
print(s)

k i s

DAY-3 (MODULES,PACKAGES) math,os,random

In [ ]:
import math
degree=float(input("enter the degree"))
radius=degree*(math.pi/180)
print(radius)

 AND ALL ARE IN VS CODE